
@media screen and (max-width: 600px) {

	.modal-images{
	    max-width: 325px;
	    min-width: 325px;
	    height: 260px;
	    margin: 30% auto;
	}
}

@media screen and (max-width: 700px) and (orientation:landscape) {

	.modal-images{
		max-width: 325px;
	    min-width: 325px;
	    height: 260px;
		margin: 7% auto;
	}

	#search-container {
		display: none;
	}
}
